@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #c40c0c;
  }

  .color--primary {
    color: var(--color-primary);
  }
}

/* Init transitions animations */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
/* End transitions animations */

/* Init transitions group animations */
.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.list-leave-active {
  position: absolute;
}
/* End transitions group animations */

/* Scroll */
.scroll {
  overflow: auto; /* Asegúrate de que el contenedor tenga scroll si es necesario */
}

/* Estilos para navegadores basados en WebKit (Chrome, Safari) */
.scroll::-webkit-scrollbar {
  width: 4px; /* Tamaño del scroll en vertical */
  height: 4px; /* Tamaño del scroll en horizontal */
}

.scroll::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 10px;
}

/* Estilos para Firefox */
.scroll {
  scrollbar-width: thin; /* Tamaño del scroll */
  scrollbar-color: #ccc transparent; /* Color del thumb y del track */
}
